<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batom.com</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/reset.css" />
  </head>

  <body>
    <header class="menu menufixed">
      <div class="head1">
        <img src="../img/logotipobatom.jpg" alt="Logo da Batom.com" width="30" />
        <p>Batom.com</p>
      </div>
      <div class="head2">
        <nav>
          <a href="./index.html" class="letramenu">Página inicial</a>
          <a href="./paghistoria.html" class="letramenu">História</a>
          <a href="./pagprogramação.html" class="letramenu">Programação</a>
          <a href="./paglocal.html" class="letramenu">Local</a>
        </nav>
        <img src="../img/lupa.png" class="lupa" />
      </div>
    </header>

    <section class="fundo">
      <div class="textodomeio">
        <h1>1º FESTIVAL DO BATOM</h1>
        <h2>DE SALVADOR</h2>
        <div class="batom">
          <h3>Batom.com</h3>
        </div>
        <p>Centro de Convençoes da Bahia -11/03 e 12/03/2023</p>
      </div>
    </section>

    <main class="meio">
      <div class="frase">
        <p>As melhores marcas de Batom em um só lugar!</p>
        <p>
          Para todas as gerações de mulheres apaixonadas por essa maquiagem
          indispensável ao longo dos séculos.
        </p>
        <p>Mais do que um produto de beleza, é um símbolo do empoderamento.</p>
      </div>

      <h3 class="patrocinadores">Patrocinadores</h3>

      <div class="grid">
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/Avon_Logo.png"
            alt="Logomarca da Avon"
          />
          <p>Avon</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/oboticario.png"
            alt="Logomarca do O boticario"
          />
          <p>O boticario</p>
        </div>
        <div class="marcascaixa">
          <img class="marcas" src="../img/Mac.png" alt="Logomarca do Mac" />
          <p>Mac</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/logo-natura.jpeg"
            alt="Logomarca da natura"
          />
          <p>Natura</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/eudora.jpg"
            alt="Logomarca da Eudora"
          />
          <p>Eudora</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/chanel.png"
            alt="Logomarca da Chanel"
          />
          <p>Chanel</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/ruby.jpg"
            alt="Logomarca da Ruby Rose"
          />
          <p>Ruby Rose</p>
        </div>
        <div class="marcascaixa">
          <img
            class="marcas"
            src="../img/Mary kay.jpg"
            alt="Logomarca da Mary Kay"
          />
          <p>Mary Kay</p>
        </div>
      </div>

      <div class="presenca">
        <h3>Contamos com a sua presença!</h3>
      </div>

      <div class="botaoconfirme">
        <a href="https://docs.google.com/forms/d/1QUGROk2Yj06Vp6I-SloIvs3h01qGEm05Sbu8cfzuPUw/edit?pli=1">Confirmar presença</a>
      </div>
    </main>
    <footer class="rodape">
      <p>Criado por: Simone Meneses Santos</p>
    </footer>
  </body>
</html>
