<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batom.com - Historia</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/reset.css" />
</head>
<body>
    <header class="menu menufixed">
      <div class="head1">
        <img src="../img/logotipobatom.jpg" alt="Logo da Batom.com" width="30" />
        <p>Batom.com</p>
      </div>
      <div class="head2">
        <nav>
          <a href="./index.html" class="letramenu">Página inicial</a>
          <a href="./paghistoria.html" class="letramenu">História</a>
          <a href="./pagprogramação.html" class="letramenu">Programação</a>
          <a href="./paglocal.html" class="letramenu">Local</a>
        </nav>
        <img src="../img/lupa.png" class="lupa" />
    
      </div>
    </header>

    <section class="fundo">
      <div class="textodomeio">
        
        <div class="batom-historia">
          <h3>Local</h3>
        </div>

        
      </div>
    </section>

    <main class="meio-local">
     <div class="textodomeio-local">

       <p>Centro de Convenções da Bahia</p>
       <p>Endereço: Av. Octávio Mangabeira, 5.490 - Boca do Rio, Salvador - BA, 41706-690 
        Telefone: (71) 3957-7171</p>
     </div> 
    
      <div class="texto-batom-local">
          <img src="../img/centro-convençoes.jpg" alt="imagem area do centro de convençoes">
          <div>
            <p>O Centro de Convenções Salvador é um espaço projetado para proporcionar uma experiência diferenciada aos visitantes e realizadores de eventos, tendo se adaptado à nova realidade para entregas em segurança, seguindo todos os protocolos.</p>
          </div>
          

      </div>

      <div class="comochegar">
        <h3>Como chegar</h3>
        
      </div>
      
      <div class="mapa">

        <iframe aria-label="Map, Centro de Convenções Salvador" src="https://maps-api-ssl.google.com/maps?hl=pt-BR&amp;ll=-12.983735,-38.433142&amp;output=embed&amp;q=Av.+Oct%C3%A1vio+Mangabeira,+5.490+-+Boca+do+Rio,+Salvador+-+BA,+41706-690,+Brasil+(Centro+de+Conven%C3%A7%C3%B5es+Salvador)&amp;z=17" ></iframe>
      </div>

      
    </main>
    <footer class="rodape">
      <p>Criado por: Simone Meneses Santos</p>
    </footer>
  </body>
</html>