<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batom.com - Historia</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/reset.css" />
</head>
<body>
    <header class="menu menufixed">
      <div class="head1">
        <img src="../img/logotipobatom.jpg" alt="Logo da Batom.com" width="30" />
        <p>Batom.com</p>
      </div>
      <div class="head2">
        <nav>
          <a href="./index.html" class="letramenu">Página inicial</a>
          <a href="./paghistoria.html" class="letramenu">História</a>
          <a href="./pagprogramação.html" class="letramenu">Programação</a>
          <a href="./paglocal.html" class="letramenu">Local</a>
        </nav>
        <img src="../img/lupa.png" class="lupa" />
    
      </div>
    </header>

    <section class="fundohistoria">
      <div class="textodomeio">
        
        <div class="batom-historia">
          <h3>Programação</h3>
        </div>

        
      </div>
    </section>

    <main class="meio">
     <div class="textodomeio-historia">

       <h2>Uma celebração da beleza dos lábios </h2>
     </div> 
    
      <div class="texto-batom-historia">
      <p>Dia: 11/03/2023</p> 
      <ul>
       <li><p>Abertura do festival</p></li>
       <li><p>Palestra: "A história do batom: de Cleópatra a Kylie Jenner"</p></li>
       <li><p>Workshop: "Aprenda a aplicar batom como um profissional"</p></li>
       <li><p>Concurso de maquiagem de lábios</p></li>
       <li><p>Show de música ao vivo</p></li>
       <li><p>Palestra: "Tendências de batom para a temporada"</p></li>
       <li><p>Workshop: "Crie seu próprio batom personalizado"</p></li>
       <li><p>Desfile de moda: "Lábios em destaque"</p></li>
       <li><p>Concurso de fotografia de lábios</p></li>
       <li><p>Show de comédia ao vivo</p></li>
      </ul> 
      <p>Dia: 12/03/2023</p>
      <ul>
        <li><p>Palestra: "Os ingredientes do batom: do natural ao sintético"</p></li>
        <li><p>Workshop: "Cuidados com os lábios: mantendo-os saudáveis e hidratados"</p></li>
        <li><p>Concurso de arte de lábios</p></li>
        <li><p>Concurso de cosplay de personagens com batom icônico</p></li>
        <li><p>Encerramento do festival: show de fogos de artifício</p></li>
      </ul>
      <p>*Obs: Todas as atividades acontecem em horários específicos e devem ser agendadas com antecedência.</p>
      </div>

      <div class="bianca">
        <h3>Presença confirmada de Bianca Andrade - Boca Rosa</h3>
        <img src="../img/imagem Bianca.jpg" alt="Foto da Boca Rosa" width="300" />
      </div>
      
      
      

      
    </main>
    <footer class="rodape">
      <p>Criado por: Simone Meneses Santos</p>
    </footer>
  </body>
</html>